body {
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.container {
    margin-top: 60px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    
}

.button, .ops {
    width: 50px;
    height: 50px;
    background-color:rgb(252, 245, 234);
}

.screen {
    padding: 7px;
}

#answer {
    width: 205px;
    height: 60px;
    font-size: 30px;
    background-color: transparent;
}

.button:hover {
    background-color:blanchedalmond;
}

.button:active {
    background-color: rgb(252, 215, 160);
}
.ops:hover {
    background-color:blanchedalmond;
}

.ops:active {
    background-color: rgb(252, 215, 160);
}

.equal-sign {
    padding: 5px;
}

#equal {
    width: 212px;
}

.row1, .row2, .row3, .row4 {
    margin-bottom: 5px;
}

.ops {
    font-weight: bolder;
    font-size: larger;
    text-shadow: 2px 1px rgb(151, 149, 149);
}

.button {
    font-size:medium;
    text-shadow: 1px 1px rgb(106, 106, 106);
}

h1 {
    font-size: 50px;
    padding: 10px;
}
